<header>
  <div class="container">
    <a id="a-title" href="{{ '/' | relative_url }}">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
    </a>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    <section id="downloads">
      <!--{% if site.show_downloads %}-->
      <!--{% endif %}-->
    <a href="que-es-esto?" class="btn">Que es esto?</a>
    <a href="proy" class="btn">Proyectos</a>
    <a href="donaciones" class="btn">Donaciones</a>
    <a href="contact" class="btn">Contactame</a>
    </section>
  </div>
</header>