<header>
  <div class="container">
    <a id="a-title" href="{{ '/' | relative_url }}">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
    </a>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    <section id="downloads">
      <!--{% if site.show_downloads %}-->
    <a href="sobre-mi.html" class="btn">Sobre mi</a>
      <!--{% endif %}-->
    <a href="" class="btn">Cursos</a>
    <a href="" class="btn">Proyectos</a>
    <a href="donaciones.html" class="btn">Donaciones</a>
    <a href="contact.html" class="btn">Contactame</a>
    </section>
  </div>
</header>